body {
    background-image: url("../image/login_background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    color: black;
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
    /*width: 100vm;*/
}

div {
  opacity: 0.96;
  filter:alpha(opacity=80);
}
nav {
    margin: 0;
    padding: 0;
    margin-left: 35vmin;
    height: 8vh;
    opacity: 0.8;
    filter:alpha(opacity=80);

}

.navbar-brand {

}

/*.panel {*/
  /*margin-top: 15vh;*/
  /*text-align: center;*/
/*}*/

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90vw;
    height: 70vh;
}

.form {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    color: red;
}





